.tag {
	all: unset;
	font-family: monospace;
	padding: 2px 6px;
	border-radius: 4px;
	cursor: pointer;
}

.white {
	background-color: #fff;
}

.gray {
	background-color: var(--color-light-gray);
}

.selected {
	background-color: var(--color-dark);
	color: #fff;
}
