.system {
	padding: 16px;
	border-radius: 6px;
	background-color: #fff;
}

.system h3 {
	margin: 0 0 4px;
	font-size: var(--font-size-heading);
}

.system header p {
	margin: 0;
}

.declarations {
	margin-top: 20px;
	display: grid;
	row-gap: 12px;
}

.declaration h4 {
	margin: 0 0 4px;
	font-size: var(--font-size-caption);
	text-transform: uppercase;
	color: var(--color-text-secondary);
	letter-spacing: 0.03em;
}

.declaration ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	list-style: none;
}
