.group {
	padding: 20px 28px;
	min-width: 150px;
	max-width: 380px;
	flex-shrink: 0;
	flex-grow: 1;
}

.group:not(:last-of-type) {
	border-right: 1px solid var(--color-border);
}

.header {
	position: sticky;
	padding: 4px 0 8px;
	top: 0;
	background-color: rgba(var(--color-bg-rgb), 0.7);
	backdrop-filter: blur(10px);
	z-index: 1;
}

.group h2 {
	margin: 0;
	font-size: var(--font-size-title);
}

.items {
	display: grid;
	row-gap: 20px;
}
