.filters {
	flex-shrink: 0;
	width: var(--width-sidebar);
	height: 100vh;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(var(--color-bg-rgb), 0.7);
	backdrop-filter: blur(10px);
	padding: 20px calc((var(--width-sidebar) - 40px) / 2);
	border-right: 1px solid transparent;
	transition: border-color var(--transition-active);
}

.expanded {
	width: 300px;
	border-color: var(--color-border);
}

.toggle {
	all: unset;
	position: sticky;
	top: 20px;
	width: 40px;
	height: 40px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color var(--transition-basic);
	background-color: rgba(var(--color-bg-rgb), 0.7);
	backdrop-filter: blur(10px);
}

.toggle:hover,
.toggle:focus {
	background-color: #fff;
}

.toggle img {
	width: 24px;
	height: 24px;
}

.list {
	padding: 0 10px;
	margin-top: 32px;
	display: grid;
	row-gap: 28px;
}

.section h3 {
	margin: 0 0 8px;
	font-size: var(--font-size-body);
}

.section ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 6px;
}
