:root {
	/* Color */
	--color-bg-rgb: 240, 240, 240;
	--color-light-gray: #eee;
	--color-dark: #333;
	--color-border: #e3e3e3;

	--color-text-secondary: #999;
	--color-text-basic: #000;

	/* Font */
	--font-size-title: 28px;
	--font-size-heading: 20px;
	--font-size-body: 14px;
	--font-size-caption: 10px;

	/* Sizes */
	--width-sidebar: 64px;

	/* Transitions */
	--transition-basic: 0.1s ease-out;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: var(--font-size-body);
	color: var(--color-text-basic);
	line-height: 1.2;
	background-color: rgb(var(--color-bg-rgb));
}

* {
	box-sizing: border-box;
}
